@charset "UTF-8";
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  max-height: 1000000px;
}

body {
  color: #83a7a5;
  background: #ffffff;
  font: 14px/1.2 "Roboto", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

input[type=tel], input[type=url], input[type=password], input[type=text], input[type=email], input[type=reset], input[type=button], input[type=submit], button, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.gm-style img {
  max-width: none;
}

@media only screen and (min-width: 1025px) {
  a[href^=tel], a[href^=skype], a[href^=sms] {
    cursor: default;
    pointer-events: none;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #0f5f5c;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, .h1 {
  font-size: 38px;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 22px;
}

h4, .h4 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 13px;
}

h4, .h4 {
  font-weight: 400;
}

p {
  margin: 0 0 20px;
}

p.circle {
  background: url(../images/icon_circle.png) no-repeat;
  padding: 6px 0 0 36px;
  margin: 0 0 13px;
}

a {
  color: #0f5f5c;
}

a:hover, a:focus {
  text-decoration: none;
}

.btn {
  border-radius: 2px;
  padding: 10px 13px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  background: #83a7a5;
}

.btn.btn-top {
  background: #6a7f7f;
  margin: 0 0 0 15px;
}

.btn.btn-green {
  background: #6fb048;
  font-size: 14px;
}

.btn.lg {
  padding: 20px 43px;
}

.btn:hover {
  opacity: 0.9;
  background: #6fb048;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 1px solid #686868;
  padding: 0.4em 0.7em;
}

input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='search']:focus,
input[type='password']:focus,
textarea:focus {
  border-color: #000000;
}

input[type='text']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #686868;
}

input[type='text']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='search']::-moz-placeholder,
input[type='password']::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #686868;
}

input[type='text']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='email']:-moz-placeholder,
input[type='search']:-moz-placeholder,
input[type='password']:-moz-placeholder,
textarea:-moz-placeholder {
  color: #686868;
}

input[type='text']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #686868;
}

input[type='text'].placeholder,
input[type='tel'].placeholder,
input[type='email'].placeholder,
input[type='search'].placeholder,
input[type='password'].placeholder,
textarea.placeholder {
  color: #686868;
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?bc4xps");
  src: url("../fonts/icomoon.eot?bc4xps#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?bc4xps") format("truetype"), url("../fonts/icomoon.woff?bc4xps") format("woff"), url("../fonts/icomoon.svg?bc4xps#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_01:before {
  content: "";
  font-size: 52px;
}

.icon-icon_02:before {
  content: "";
  font-size: 52px;
}

.icon-icon_03:before {
  content: "";
  font-size: 52px;
}

.icon-icon_idea:before {
  content: "";
}

.icon-icon_pixel:before {
  content: "";
}

.icon-icon_free:before {
  content: "";
}

.icon-icon_browser:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-dribbble:before {
  content: "";
}

.icon-github:before {
  content: "";
}

body {
  font-family: "Roboto", sans-serif, sans-serif;
  color: #83a7a5;
  background: #fff;
  line-height: 20px;
}

#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1056px;
}

.bg-grey {
  background: #eef1ec;
}

.bg-white {
  background: #ffffff;
}

.plans {
  padding: 50px 0;
}

body.page-pricing {
  background: #eef1ec;
}

body.page-pricing header {
  background-image: none;
}

body.page-pricing header .header-holder {
  border-bottom: 1px solid #83a7a5;
}

header {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/photo_top_bg.jpg);
  background-size: cover;
  overflow: hidden;
}

header .header-holder {
  padding: 0 0 26px;
  border-bottom: 1px solid #4d6d6e;
  position: relative;
  overflow: hidden;
}

header .header-holder:before {
  clear: both;
}

header .header-frame {
  float: left;
  margin: 32px 0 0 0;
}

header .logo {
  float: left;
  width: 90px;
  height: 20px;
  overflow: hidden;
  margin: 0 25px 0 0;
}

header .header-phone {
  border-left: 1px solid #4d6d6e;
  padding: 0 0 0 26px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
}

header .header-phone.pricing-color {
  color: #83a7a5;
}

header .header-holder-nav {
  float: right;
  margin-top: 26px;
  position: relative;
}

header nav {
  float: left;
}

header nav ul {
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
}

header nav ul li {
  text-align: center;
  display: inline-block;
}

header nav ul li a {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  vertical-align: top;
  padding: 10px 15px 10px;
  text-transform: uppercase;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav ul li a.pricing-color {
  color: #83a7a5;
}

header .menu_trigger {
  width: 31px;
  height: 31px;
  left: 15px;
  background: url(../images/btn_mobile_menu.png) no-repeat;
  text-indent: -9999em;
  display: none;
  top: 0;
  position: absolute;
}

header .masthead {
  overflow: hidden;
  padding: 210px 0 195px;
  text-align: left;
  width: 510px;
}

header .masthead h1 {
  color: #fff;
  font-weight: 400;
  line-height: 40px;
}

header .masthead p {
  font-size: 16px;
  color: #fff;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}

.main {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.content-three-column {
  padding: 95px 0 75px;
  overflow: hidden;
}

.heading {
  text-align: center;
  padding: 0 0 55px;
  position: relative;
}

.heading h2 {
  padding: 0 0 20px;
  background: url(../images/h2_separator.gif) no-repeat 50% 100%;
  line-height: 36px;
}

.heading h3 {
  padding: 0 0 20px;
  background: url(../images/h2_separator.gif) no-repeat 50% 100%;
}

.heading p {
  font-size: 15px;
}

.heading.non-padding {
  padding: 0 0 10px;
}

.heading p.h2 {
  color: #6fb048;
  padding: 60px 0 15px 0;
  font-size: 32px;
  background: url(../images/h2_separator.gif) no-repeat 50% 100%;
  margin: 0 0 15px;
}

.heading p.h2:before {
  content: ".";
  background: url(../images/icon_h2_bg.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  left: 50%;
  margin: 0 0 0 -22px;
}

.heading a {
  font-size: 18px;
  font-weight: 400;
}

.three-column .flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  background: url(../images/bg_flex_three_box.gif) no-repeat 50% 100%;
  padding: 0 0 91px;
}

.three-column.text-left .flex-container {
  background: none;
  padding: 0 0 30px;
}

.three-column .flex-item {
  width: 33%;
  margin: 0 15px 25px;
  text-align: center;
}

.three-column .flex-item span {
  color: #6fb048;
}

.three-column.text-left .flex-item {
  text-align: left;
}

.two-column .flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}

.two-column .flex-item-title {
  overflow: hidden;
  margin: 0 0 20px;
}

.two-column span {
  font-size: 29px;
  float: left;
  margin: 0 22px 0 0;
  color: #6fb048;
}

.two-column h4 {
  float: left;
  margin-top: 6px;
  margin-bottom: 0;
}

.two-column p {
  margin: 0;
  line-height: 20px;
}

.two-column .flex-item {
  width: 45%;
  margin: 55px 0 0 0;
  text-align: left;
}

.two-column .flex-item:first-child {
  margin: 55px 5% 0 0;
}

.gray-bg-section {
  background: #eef1ec;
  padding: 70px 0 0;
}

.gray-bg-section:after {
  content: '';
  clear: both;
}

.box-responsive-ready {
  position: relative;
  overflow: hidden;
}

.box-responsive-ready-images {
  float: left;
  width: 414px;
  font-size: 0;
}

.box-responsive-ready-images img {
  width: 100%;
  height: auto;
  display: block;
}

.box-responsive-ready-description {
  float: right;
  width: 48%;
  padding: 10% 1% 10% 0;
}

.testimonials {
  overflow: hidden;
  padding: 12% 0;
}

.testimonials.gray-bg-section {
  background: #eef1ec;
}

.testimonials .testimonials-quote {
  float: left;
  width: 513px;
  padding: 95px 0 0 0;
}

.testimonials .testimonials-quote p {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
}

.testimonials .testimonials-quote .small {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #6fb048;
  font-size: 14px;
  line-height: 20px;
}

.testimonials .testimonials-quote .small p {
  font-weight: 400;
  color: #83a7a5;
  font-size: 14px;
  line-height: 20px;
}

.testimonials .testimonials-images {
  float: right;
  width: 400px;
}

.testimonials .testimonials-images img {
  width: 100%;
  height: auto;
  display: block;
}

.price-box-holder {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 764px;
  height: auto;
  border: 1px solid #c1d3d2;
  border-radius: 4px;
  margin: 0 auto 75px;
}

.price-box-holder .price-item {
  width: 33%;
  text-align: center;
  padding: 30px;
}

.price-box-holder .price-item.item2 {
  border-left: 1px solid #c1d3d2;
  border-right: 1px solid #c1d3d2;
}

.price-box-holder .price-item .price-header {
  overflow: hidden;
  padding: 0 0 25px;
}

.price-box-holder .price-item .price-header p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  margin: 0 0 25px;
  color: #6fb048;
}

.price-box-holder .price-item .price-header .span_price {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 65px;
  margin: 0;
  color: #0f5f5c;
}

.price-box-holder .price-item .price-header .small {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 25px;
  color: #0f5f5c;
}

.price-box-holder .price-item .price-body-content p {
  margin: 0 0 15px;
}

.price-box-holder .price-item .btn {
  min-width: 140px;
}

.call-to-action {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/bg_box_call.png);
  display: table;
  position: relative;
  height: 200px;
}

.call-to-action-holder {
  display: table-cell;
  vertical-align: middle;
}

.call-to-action .text-left {
  float: left;
}

.call-to-action .text-left p.h2 {
  font-size: 28px;
  line-height: 32px;
  margin: 0 0 5px;
}

.call-to-action .text-left p {
  margin: 0;
  font-size: 15px;
}

.call-to-action .btn.btn-green {
  float: right;
  font-size: 13px;
  padding: 15px 22px;
}

footer {
  padding: 75px 0 0 0;
  overflow: hidden;
  font-size: 13px;
  color: #83a7a5;
}

footer .footer-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 0 40px;
}

footer .footer-top-box {
  width: 25%;
  text-align: left;
  padding: 0 10px;
}

footer .footer-top-box-box:first-child {
  padding: 0 10px 0 0;
}

footer .footer-top-box strong {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px;
}

footer .footer-top-box h6 {
  font-weight: 500;
  margin: 0 0 20px;
}

footer .footer-top-box dt {
  margin: 0 0 10px;
}

footer .footer-top-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .footer-top-box ul a {
  font-size: 13px;
  color: #83a7a5;
  margin: 0 0 10px;
  display: block;
}

footer .footer-top-box ul a:hover {
  color: #0f5f5c;
}

footer .footer-bottom {
  border-top: 1px solid #eef1ec;
  padding: 17px 0 14px;
  position: relative;
}

footer .footer-bottom .copy {
  float: left;
  margin: 5px 0 0 0;
}

footer .footer-bottom .social {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin: 0;
  float: right;
}

footer .footer-bottom .social li {
  float: left;
  margin: 0 5px;
}

footer .footer-bottom .social li span.icon {
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  display: block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 30px;
  border-radius: 40px;
}

footer .footer-bottom .social li span.icon.icon-twitter {
  background: #55acee;
}

footer .footer-bottom .social li span.icon.icon-facebook {
  background: #3b5998;
}

footer .footer-bottom .social li span.icon.icon-instagram {
  background: #3f729b;
}

footer .footer-bottom .social li span.icon.icon-dribbble {
  background: #ea4c89;
}

footer .footer-bottom .social li span.icon.icon-github {
  background: #333333;
}

footer .footer-bottom .social li span.icon:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 990px) {
  header .header-frame {
    float: none;
    width: 270px;
    margin: 25px auto 0;
    display: block;
  }
  header .header-holder-nav {
    float: none;
    text-align: center;
  }
  .btn.btn-top {
    float: right;
  }
  .testimonials .testimonials-images {
    float: none;
    margin: 0 auto 20px;
  }
  .testimonials .testimonials-quote {
    float: none;
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 910px) {
  header .masthead,
  .content-three-column {
    padding: 10% 0;
  }
  .box-responsive-ready-description {
    float: none;
    width: 100%;
    margin: 0;
    padding: 20px 0;
  }
  .box-responsive-ready-images {
    float: none;
    margin: 0 auto;
  }
  .call-to-action .text-left {
    float: none;
    display: block;
    margin: 0 0 20px;
    text-align: center;
  }
  .call-to-action .btn.btn-green {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 287px;
  }
}

@media only screen and (max-width: 810px) {
  .price-box-holder {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .three-column .flex-item,
  .two-column .flex-item {
    width: 100%;
    margin: 2% 0;
  }
  .three-column .flex-container,
  .two-column .flex-container {
    display: block;
  }
  .heading {
    padding: 0 0 20px;
  }
}

@media only screen and (max-width: 710px) {
  .price-box-holder .price-item {
    width: 100%;
  }
  .price-box-holder {
    display: block;
  }
  .price-box-holder .price-item.item2 {
    border-left: none;
    border-right: none;
    border-top: 1px solid #c1d3d2;
    border-bottom: 1px solid #c1d3d2;
  }
}

@media only screen and (max-width: 668px) {
  .price-box-holder .price-item .price-header .span_price {
    font-size: 45px;
  }
  header .menu_trigger {
    display: block;
  }
  header nav {
    display: none;
    width: 100%;
    background: #6a7f7f;
    padding: 0;
    margin: 30px 0 0;
  }
  header nav ul li {
    float: none;
    text-align: left;
    margin: 0;
    display: block;
    padding: 0;
  }
  header nav ul li a:hover,
  header nav ul li a {
    color: #fff;
    display: block;
    padding: 10px;
  }
  header .masthead {
    width: 100%;
  }
  .testimonials .testimonials-images,
  .box-responsive-ready-images {
    width: 280px;
  }
}

@media only screen and (max-width: 500px) {
  footer .footer-top {
    display: block;
  }
  footer .footer-top-box {
    width: 100%;
    text-align: center;
  }
  footer .footer-bottom .copy {
    float: none;
    text-align: center;
    margin: 0 0 10px;
  }
  footer .footer-bottom .social {
    float: none;
    width: 200px;
    margin: 0 auto;
    display: block;
  }
}

/*# sourceMappingURL=all.css.map */