// imports
@import "custom/custom"; // кастомные компоненты и новые

body{
  font-family: $base-font-family, sans-serif;
  color: $blue;
  background: #fff;
  line-height: $line-height-base;
}
#wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.container {
  margin: 0 auto;
  width: 1056px;
}
.bg-grey{background: $bg-grey;}
.bg-white{background: $white;}
.plans{padding:50px 0;}
body.page-pricing{background: $bg-grey;}
body.page-pricing header{background-image:none;}
body.page-pricing header .header-holder{border-bottom: 1px solid $blue;}
// header

header{
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
	background-image:url(../images/photo_top_bg.jpg);
	background-size: cover;
  overflow: hidden;
    
  .header-holder{
    padding:0 0 26px;
    border-bottom: 1px solid #4d6d6e;
    position: relative;
    overflow: hidden;
      &:before{
        clear: both;
      }
  }
	.header-frame{
		float:left;
    margin: 32px 0 0 0;
	}
  .logo{
    float:left;
    width:90px;
    height:20px;
    overflow:hidden;
    margin: 0 25px 0 0;
  }
  .header-phone{
    border-left: 1px solid #4d6d6e;
    padding:0 0 0 26px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
      &.pricing-color{
        color:$blue;
      }
  }
  .header-holder-nav{
    float: right;
    margin-top: 26px;
    position: relative;
  }
  nav{
    float: left;
    ul{
      font-size:0;
      line-height:0;
      padding: 0;
      margin:0;
      li{
        text-align:center;
        display: inline-block;
        a{
          color: $white;
          font-family: 'Montserrat', sans-serif;
          font-size: 13px;
          line-height: 15px;
          display: inline-block;
          vertical-align: top;
          padding: 10px 15px 10px;
          text-transform: uppercase;
          &:hover{
            text-decoration:underline;
          }
          &.pricing-color{
          color: $blue;
           }
        }
      }
    }
  }
  .menu_trigger{
    width: 31px;
    height: 31px;
    left: 15px;
    background: url(../images/btn_mobile_menu.png) no-repeat;
    text-indent: -9999em;
    display: none;
    top: 0;
    position: absolute;
  }
  .masthead{
    overflow: hidden;
    padding:210px 0 195px;
    text-align: left;
    width: 510px;
      h1{
        color: #fff;
        font-weight: 400;
        line-height: 40px;
      }
      p{
        font-size: 16px;
        color: #fff;
      }
  }
}
.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}
//main
.main{
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
}
.content-three-column{
  padding:95px 0 75px;
  overflow:hidden;
}
.heading{
  text-align: center;
  padding:0 0 55px;
  position: relative;
  h2{
    padding:0 0 20px;
    background: url(../images/h2_separator.gif) no-repeat 50% 100%;
    line-height: 36px;
  }
  h3{
    padding:0 0 20px;
    background: url(../images/h2_separator.gif) no-repeat 50% 100%;
  }
  p{
    font-size: 15px;
  }
  &.non-padding{padding:0 0 10px;}
  p.h2{
    color: $bg-hover-btn;
    padding:60px 0 15px 0;
    font-size: 32px;
    background: url(../images/h2_separator.gif) no-repeat 50% 100%;
    margin: 0 0 15px;
      &:before{
        content: ".";
        background: url(../images/icon_h2_bg.png) ;
        background-repeat: no-repeat;
        position: absolute;
        width: 44px;
        height: 44px;
        top: 0;
        left: 50%;
        margin: 0 0 0 -22px;
      }
    }
  a{font-size:18px;font-weight: 400;}
}
.three-column{
  .flex-container {
      display: -webkit-flex;
      display: flex;
      width: 100%;
      height:auto;
      background:url(../images/bg_flex_three_box.gif) no-repeat 50% 100%;
      padding:0 0 91px;
  }
  &.text-left .flex-container{
    background: none;
    padding: 0 0 30px;
  }
  .flex-item {
      width: 33%;
      margin:0 15px 25px;
      text-align: center;
       span{
        color: $bg-hover-btn;
       }
  }
  &.text-left .flex-item{text-align:left;}
}
.two-column{
  .flex-container {
      display: -webkit-flex;
      display: flex;
      width: 100%;
      height:auto;
  }
  .flex-item-title{
    overflow: hidden;
    margin: 0 0 20px;
  }
  span{
    font-size: 29px;
    float: left;
    margin: 0 22px 0 0;
    color: $bg-hover-btn;
  }
  h4{
    float: left;
    margin-top: 6px;
    margin-bottom: 0;
  }
  p{margin: 0;line-height:20px;}
  .flex-item {
      width:45%;
      margin:55px 0 0 0;
      text-align: left;
  }
  .flex-item:first-child{margin: 55px 5% 0 0;}
}

.gray-bg-section{
  background: $bg-grey;
  padding:70px 0 0;
  &:after{
    content: '';
    clear: both;
  }
}
.box-responsive-ready{
  position: relative;
  overflow: hidden;
    &-images{
      float: left;
      width: 414px;
      font-size: 0;
      img{
        width: 100%;
        height: auto;
        display: block;
      }
    }
    &-description{
      float: right;
      width: 48%;
      padding: 10% 1% 10% 0;
    }
}
.testimonials{
  overflow: hidden;
  padding: 12% 0;
    &.gray-bg-section{
       background: $bg-grey;
    }
  .testimonials-quote{
      float: left;
      width: 513px;
      padding: 95px 0 0 0;
      p{
        font-family: $font-family-serif;
        font-weight: 300;
        font-size: 22px;
        line-height:32px;
      }
      .small{
        font-family: $font-family-sans-serif;
        font-weight: 500;
        color: #6fb048;
        font-size: 14px;
        line-height:20px;
        p{
          font-weight: 400;
          color: $blue;
          font-size: 14px;
          line-height:20px;
        }
      }
  }
  .testimonials-images{
      float: right;
      width: 400px;
      img{
        width: 100%;
        height: auto;
        display: block;
      }
  }
}
.price-box-holder {
      display: -webkit-flex;
      display: flex;
      width: 764px;
      height:auto;
      border:1px solid #c1d3d2;
      border-radius:4px;
      margin: 0 auto 75px;
  .price-item{
      width: 33%;
      text-align: center;
      padding: 30px;
      &.item2{
        border-left:1px solid #c1d3d2;
        border-right:1px solid #c1d3d2;
      }
      .price-header{
        overflow: hidden;
        padding:0 0 25px;
         p{
          font-family: $font-family-sans-serif;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 15px;
          margin: 0 0 25px; 
          color: #6fb048;
         }
         .span_price{
          font-family: $font-family-btn;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 65px;
          margin: 0; 
          color: $light-blue;
         }
         .small{
           font-family: $font-family-sans-serif;
          font-weight: 400;
          font-size: 14px;
          margin: 0 0 25px; 
          color: $light-blue;
         }
      }
      .price-body-content{
        p{margin: 0 0 15px;}
      }
      .btn{
        min-width: 140px;
      }
  }
}
.call-to-action{
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/bg_box_call.png);
    display: table;
    position: relative;
    height: 200px;
     &-holder{
          display: table-cell;
          vertical-align: middle;
     }

     .text-left{
        float: left;
         p.h2{
          font-size: 28px;
          line-height: 32px;
          margin: 0 0 5px;
         }
         p{margin: 0;font-size: 15px;}
     }
     .btn.btn-green{
      float: right;
      font-size: 13px;
      padding: 15px 22px;
     }
}
// footer 
footer{
  padding: 75px 0 0 0;
  overflow: hidden;
  font-size: 13px;
  color: #83a7a5;
  .footer-top{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 0 0 40px;
    &-box{
      width: 25%;
      text-align: left;
      padding: 0 10px;
      &-box:first-child{
        padding: 0 10px 0 0;
      }
      strong{
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        margin: 0 0 15px;
      }
      h6{
        font-weight: 500;
        margin: 0 0 20px;
      }
      dt{margin: 0 0 10px;}
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
         a{
          font-size: 13px;
          color: #83a7a5;
          margin: 0 0 10px;
          display: block;
           &:hover{
            color: $light-blue;
           }
         }
      }
    }
  }
  .footer-bottom{
      border-top:1px solid #eef1ec;
      padding: 17px 0 14px;
      position: relative;
    .copy{
      float: left;
      margin: 5px 0 0 0;
    }
    .social{
      display:inline-block;
      vertical-align:top;
      list-style:none;
      margin: 0 ;
      float: right;
      li{
        float:left;
        margin: 0 5px;
        span.icon{
          width: 30px;
          height: 30px;
          text-align:center;
          color: #fff;
          display: block;
          vertical-align: middle;
          font-size:15px;
          line-height:30px;
          border-radius:40px;
          &.icon-twitter{
            background: #55acee;
           }
          &.icon-facebook{
            background: #3b5998;
           }
          &.icon-instagram{
            background: #3f729b;
           }
          &.icon-dribbble{
            background: #ea4c89;
           }
          &.icon-github{
            background: #333333;
           }
          &:hover{
            opacity: 0.9;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 1100px) {
  .container{ width: 100%;padding:0 10px;}
}

@media only screen and (max-width : 990px) {
    header .header-frame{
      float: none;
      width: 270px;
      margin: 25px auto 0;
      display: block;
    }
    header .header-holder-nav{
      float: none;
      text-align: center;
    }
    .btn.btn-top{float: right;}
    .testimonials .testimonials-images{
      float: none;
      margin: 0 auto 20px;
    }
    .testimonials .testimonials-quote{
      float: none;
      width: 100%;
      padding: 0;
    }
}
@media only screen and (max-width : 910px) {
  header .masthead,
  .content-three-column{padding:10% 0;}
  .box-responsive-ready-description{
    float: none;
    width: 100%;
    margin: 0;
    padding: 20px 0;
  }
  .box-responsive-ready-images{
    float: none;
    margin: 0 auto;
  }
  .call-to-action .text-left{
    float: none;
    display: block;
    margin: 0 0 20px;
    text-align:center;
  }
  .call-to-action .btn.btn-green{
    float: none;
    display: block;
    margin: 0 auto;
    text-align:center;
    width: 287px;
  }
}
@media only screen and (max-width : 810px) {
  .price-box-holder{width:100%;}
}

@media only screen and (max-width : 768px) {
  .three-column .flex-item,
  .two-column .flex-item{width:100%;margin: 2% 0;}
  .three-column .flex-container,
  .two-column .flex-container{display:block;}
  .heading{padding:0 0 20px;}
  
}
@media only screen and (max-width : 710px) {
  .price-box-holder .price-item{
      width:100%;
    }
    .price-box-holder{
      display: block;
    }
    .price-box-holder .price-item.item2 {
      border-left: none;
      border-right: none;
      border-top: 1px solid #c1d3d2;
      border-bottom: 1px solid #c1d3d2;
    }
}
@media only screen and (max-width : 668px) {
  .price-box-holder .price-item .price-header .span_price{
    font-size: 45px;
  }
    header .menu_trigger {display: block;}
    header nav  {
      display: none;
      width: 100%;
      background: #6a7f7f;
      padding: 0;
      margin: 30px 0 0;
    }
    header nav ul li {
      float: none;
      text-align: left;
      margin: 0;
      display: block;
      padding: 0;
    }
    header nav ul li a:hover,
    header nav ul li a {
      color: #fff;
      display: block;
      padding: 10px;
    }
    header .masthead{width:100%;}
    .testimonials .testimonials-images,
    .box-responsive-ready-images{width:280px;}

}

@media only screen and (max-width : 500px){
  footer .footer-top{
    display: block;
    
  }
  footer .footer-top-box{width:100%;text-align: center;}
  footer .footer-bottom .copy{
    float: none;
    text-align: center;
    margin: 0 0 10px;
  }
  footer .footer-bottom .social{
    float: none;
    width: 200px;
    margin: 0 auto;
    display: block;
  }
}

