h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, .h1 {
  font-size: 38px;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 22px;
}

h4, .h4 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 13px;
}

p {
  margin: 0 0 20px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 20px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}
