.btn{
	border-radius:2px;
	padding: 10px 13px;
	text-transform:uppercase;
	text-align:center;
	display: inline-block;
	color:#fff;
	font-size: 12px;
	font-family: $font-family-btn;
	background: $blue;
	&.btn-top{
		background: $btn-color-header;
		margin: 0 0 0 15px;
	}
	&.btn-green{
		background: #6fb048;
		font-size: $base-font-size;
	}
	&.lg{padding:20px 43px;}
	&:hover{
		opacity: 0.9;
		background: $bg-hover-btn;
	}
}