//
// Typography
// --------------------------------------------------
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-color;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 20px;
  margin-bottom: 20px;

}
h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }
h4, .h4{font-weight:400;}
p {
  margin: 0 0 20px;
  &.circle{
    background: url(../images/icon_circle.png) no-repeat;
    padding: 6px 0 0 36px;
    margin: 0 0 13px;
  }
}
a {
  color: $base-link-color;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

