
$blue: #83a7a5;
$yellow: #dddb48;
$white: #ffffff;
$black: #000000;
$light-blue: #0f5f5c;
$gray: #686868;
$btn-color-header:#6a7f7f;
$bg-grey:#eef1ec;
$bg-hover-btn:#6fb048;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif:      'Merriweather', serif;
$font-family-base:        $font-family-sans-serif ;
$font-family-btn:'Montserrat', sans-serif;


$font-size-h1:            	38px; // ~38px
$font-size-h2:           	32px; // ~32px
$font-size-h3:            	22px; // ~22px
$font-size-h4:            	16px; // ~16px
$font-size-h5:            	;
$font-size-h6:            	13px; // ~13px

$line-height-base:        20px; // 20/14

$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    300;
$headings-line-height:    1.1 ;
$headings-color:          $light-blue;


// Body
$base-text-color: $blue ;
$base-background-color: $white ;
$base-font-size: 14px ;
$base-line-height: 1.2 ;
$base-font-family:        $font-family-sans-serif ;

$vertical-rhythm: ($base-line-height * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $light-blue;

// Buttons 
$btn-color: $white ;
$btn-background: $blue ;
$btn-padding: 0.4em 0.7em;
$btn-font-size: inherit ;


// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;




$animation-speed: 0.3s;