@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?22c34q");
  src: url("../fonts/icomoon.eot?22c34q#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?22c34q") format("truetype"), url("../fonts/icomoon.woff?22c34q") format("woff"), url("../fonts/icomoon.svg?22c34q#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_01:before {
  content: "";
}

.icon-icon_02:before {
  content: "";
}

.icon-icon_03:before {
  content: "";
}

.icon-icon_04:before {
  content: "";
}

.icon-icon_05:before {
  content: "";
}

.icon-icon_06:before {
  content: "";
}

.icon-icon_07:before {
  content: "";
}

.icon-phone:before {
  content: "";
}
