@media only screen and (max-width: 1100px) {
  .container {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .drops,
  .menu_trigger {
    display: block;
  }
  .nav-bar {
    float: none;
    margin: 0 -10px;
  }
  #nav {
    display: none;
    width: 100%;
    background: #27282D;
    padding: 0;
    margin: 20px 0;
  }
  #nav > li {
    float: none;
    text-align: center;
    margin: 0;
    display: block;
    padding: 0;
  }
  #nav a:hover,
  #nav a {
    border: none;
  }
  #nav a {
    color: #fff;
    display: block;
    padding: 10px;
  }
}
