@import "variables";
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?bc4xps');
    src:    url('../fonts/icomoon.eot?bc4xps#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?bc4xps') format('truetype'),
        url('../fonts/icomoon.woff?bc4xps') format('woff'),
        url('../fonts/icomoon.svg?bc4xps#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-icon_01 {
    &:before {
        content: $icon-icon_01;
        font-size: 52px;
    }
}
.icon-icon_02 {
    &:before {
        content: $icon-icon_02;
        font-size: 52px;
    }
}
.icon-icon_03 {
    &:before {
        content: $icon-icon_03;
        font-size: 52px;
    }
}
.icon-icon_idea {
    &:before {
        content: $icon-icon_idea;
    }
}
.icon-icon_pixel{
    &:before {
        content: $icon-icon_pixel;
    }
}
.icon-icon_free {
    &:before {
        content: $icon-icon_free;
    }
}
.icon-icon_browser {
    &:before {
        content: $icon-icon_browser;
    }
}
.icon-phone{
    &:before {
        content: $icon-phone;
    }
}


.icon-facebook{
    &:before {
        content: $icon-facebook;
    }
}
.icon-instagram{
    &:before {
        content: $icon-instagram;
    }
}
.icon-twitter{
    &:before {
        content: $icon-twitter;
    }
}
.icon-dribbble{
    &:before {
        content: $icon-dribbble;
    }
}
.icon-github{
    &:before {
        content: $icon-github;
    }
}

